version: '3.7'

services:
  db:
    image: postgres:15.2-alpine
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_NAME: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 9879
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - pgdata:/var/lib/postgresql/data/
  web:
    build: .
    command: sh -c "make migrate ARGS="--noinput" && make runserver"
    volumes:
      - .:/django_movie/
    ports:
      - 8000:8000
    depends_on:
      - db

volumes:
  pgdata:
